<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 firstdiv text-center">
        <h4>Join Us</h4>
        <p>Job Hiring "ArthRun"</p>
        <p>Internship Positions are available in -</p>
        <span style="font-style: italic;color: blueviolet;">
            Social Media Promotion Team, 
            Content and Research Team,
            Video Series Team,
            Technical Team.
        </span>
        <h4>Mail us your CV at <span style="color: darkorange;background: rgba(0, 0, 0, 0.719);"> arthrun919@gmail.com</span></h4>
    </div>
</div>
