
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
  <div class="container d-flex header">
    <div class="col-lg-2 col-md-3 col-sm-3 ">
      <img src='assets/AR.jpeg' height="auto" width="80%" class="logo">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 tag">
      <h2>ArthRun.</h2>
      <p>Running away from the Rat Race</p>
    </div>
    <div class="col-lg-7 col-md-6 col-sm-6 menu d-flex">
      <nav class="navbar navbar-expand-lg navbar-light ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="color: black;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <h3><a class="nav-item nav-link active" href="/home">HOME <span class="sr-only">(current)</span></a></h3>
            <h3><a class="nav-item nav-link" href="https://www.youtube.com/channel/UCpjhNIMQ6C1HP1Pjcx0pdlQ">VIDEOSERIES</a></h3>
            <h3><a class="nav-item nav-link" href="/work">CAREER</a></h3>
            <h3><a class="nav-item nav-link" href="#">CONTACT US</a></h3>
            <a href="https://www.instagram.com/arth_run/?igshid=10mmhcpwbqx6l"><img src="/assets/insta1.png" width="40px" height="auto"></a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet>
  
  


